@import url(./__image/place__image.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__paragraphs/place__paragraphs.css);
@import url(./__title/place__title.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__url/place__url.css);
@import url(./__website/place__website.css);

.place {
  margin: 72PX auto 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.place:first-of-type {
  margin-top: 0;
}
