@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__links/footer__links.css);
@import url(./__list-item/footer__list-item.css);

.footer {
  max-width: 1184px;
  margin: 160px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #FFFFFF;
}








